td, th {
	border: 1px solid;
  }
  
body {
  background-image: url("../images/space.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#header {
  position: relative;
  border-radius: 12px 12px 0px 0px;
}

#header h1 {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: x-large;
  color: orangered;
}

#planets {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: fit-content;
  border-collapse: collapse;
  background-color: black;
}

#planets img {
  width: 100px;
  height: auto;
}

#planets tr {
  width: auto;
  height: auto;
}

#planets th {
  width: auto;
  height: auto;
  font-size: large;
}

#planets td {
  width: auto;
  height: auto;
  font-size: medium;
}

.attribute {
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.Earth{
  color: green;
  font-family: fantasy;
}

.Mars {
  color: red;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.Jupiter {
  color: goldenrod;
  font-family: sans-serif;
}

.Neptune {
  color: aqua;
  font-family: cursive;
}
  